* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding: 2%;
}

.grid-container {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}

.gi-1 {
}

.gi-2 {

}

.gi-3 {

}


.grid-container {
  border: 5px solid #212226;
  height: 310px;
  width: 310px;
}

.gi-1 {
  color: #1e4040;
  background-color: #71d99e;
}
.gi-2 {
  color: #1e4040;
  background-color: #71d99e;
}
.gi-3 {
  color: #1e4040;
  background-color: #71d99e;
}
.gi-4 {
  color: #1e4040;
  background-color: #71d99e;
}
.gi-5 {
  color: #1e4040;
  background-color: #71d99e;
}

.grid-item {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 2rem;
}